/* Style for categories' page */

/* Positioning the body */
.main_category {
    margin: 0 auto;
    max-width: 1200px;
    padding:0 1rem;
}

.main_content p{
    text-align: center;
    line-height:1.3rem;
}

/* Styling the photo borders */
.cardpic {
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;;
}

/* Styling photo card to equalize w&h with other cards */
.cardpic.naiv {
    object-fit: cover;
    width:100%;
}

/* Styling the projects card */

.proj_card{
    width:100%;
    padding:1rem;
}

.proj_card img{
    width:100%;
    border-radius: 22px;
}

.proj_card a{
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.bx-chevrons-right{
    color:#ff0000;
    margin-top:1rem;
}

@media  screen and (min-width:768px) {
    /* Setting max-width for photography paragraph */
    .photography p {
        margin: 0 auto;
        max-width: 800px;
        padding-bottom: 2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width:991px) {
    /* Setting height of the Naiv photo card */
    .cardpic.naiv {
        height: 71%;
    }
}

@media screen and (min-width:992px) {

    /* Setting height of the Naiv photo card */
    .cardpic.naiv {
        height: 58%;
    }
}
