:root {
    --bs-active: #ffffff;
    --bs-active-rgb: 255, 255, 255;
}

/* Nav-link active */
.nav-link:focus,
.nav-link:active {
    color: var(--bs-active);
    background-color: #3E69B2;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--bs-active);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--bs-primary);
    border-radius: 0;
}

/* Footer style */
footer {
    display: flex;
    padding: 1.5rem 1rem 0.5rem;
}

.attribution {
    flex-grow: 1;
}

.socmed {
    display: flex;
    gap: 0.3rem;
}

@media screen and (max-width:991px) {
    /* Fixes padding alignment for nav smaller screens */
    .nav-link {
        padding-left: 0.7rem;
    }

    /* Footer style for smaller screens */
    footer{
        flex-direction: column;
        align-items: center;
    }

    /* Put icons on top of attribution */
    .attribution{
        order: 2;
    }

    /* Adjusts padding for social media icons */
    .socmed {
        gap:1rem;
    }
}

/* Header style for larger screens */
@media screen and (min-width:992px) {

    /* NAV BAR */
    .navbar {
        padding: 1rem 0;
    }

    /* To add a gap between logo and nav links */
    .navbar-brand {
        flex-grow: 20;
    }

    /* Adjusts logo size in larger screens */
    .navbar-brand img {
        width: 15rem;
        padding-left: 2rem;
    }

    .navbar-nav {
        position: relative;
        padding-top: 0.4rem;
    }

    /* Adjust width for nav-item li */
    .nav-item {
        width: 8rem;
    }

    .nav-item a {
        font-size: 1.3rem;
        text-align: center;
        border-bottom: 0;
        transition: all 0.3s ease;
    }

    .nav-item a:not(.dropdown-item){
        height:3rem;
    }

    /* Adjust height for dropdown item height */
    .dropdown-item{
        height: 4.25rem;
    }

    /* Adjusts spacing for dropdown menu items */
    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
    }

    /* Hover style for navigation except dropdown item*/
    li a:not(.dropdown-item):hover {
        border-bottom: 3px solid #ff0000;
    }

    /* Hover for dropdown item */
    .dropdown-item:hover {  
        text-decoration: underline;
        font-weight: 600;
        color: #ff0000;
    }

    .dropdown-item:focus,
    .dropdown-item:active {
        color: var(--bs-active);
        background-color: var(--bs-dropdown-link-active-bg);
    }

    /* Focus and active styles for larger screens */
    nav a:focus,
    nav a:active {
        border-radius: 10px;
        border: 0;
    }

    footer {
        padding: 1.5rem 1.5rem 0.5rem;
    }

}