/* Styling for main pages */

/* BANNER */

.banner {
    display: flex;
    flex-direction: column;
}

.banner h1 {
    font-size: 2rem;
}

/* Text-wrap for banner */
.banner .text-wrap,
.banner .socials /* SOCIAL ICONS */ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adjusting font-size for about banner */
.about p {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
}

.about.hero_wrap{
    padding-bottom:1rem;
}

/* Adjust line spacing between first and last paragraph - about page */
.about .secondpar{
    margin-top:-0.9rem;
}

/* Styling the box-icons font */
.socials .bx {
    font-size: 2rem;
    padding-right: 0.5rem;
}

/* Styling for socials list in contact banner */
.banner .socials a {
    font-size: 1.5rem;
    line-height: 4rem;
    text-decoration: none;
}

/* Adding colors to social icons */
.socials .bxl-whatsapp {
    color: #25D366;
}

.socials .bxl-linkedin {
    color: #0A66C2;
}

.socials .bxl-instagram {
    color: #E4405F;
}


/* Styling the hero image */
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Aligning card text to the left */
.projcardtitle {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.projcardtitle p {
    line-height: 0;
}


/* CONTACT FORM */
.display-6 {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

/* BUTTON */
.btn-primary {
    /* Color change */
    --bs-btn-bg: #101111;
    --bs-btn-border-color: #101111;
    --bs-btn-hover-bg: #101111;
    --bs-btn-hover-border-color: #101111;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #101111;
    --bs-btn-active-border-color: #101111;
    --bs-btn-disabled-bg: #101111;
    --bs-btn-disabled-border-color: #101111;

    /* Other styles */
    width: 100%;
}

/* Form text area */
textarea {
    height: 20rem;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    
    /* Styling the card for tablet screen */
    .proj_spot{
        padding-top:1rem;
    }
    .proj_spot .proj_card a {
        display: flex;
        flex-direction: row;
        box-shadow: -4px 0px 35px -3px rgba(0,0,0,0.1);
        border-radius: 20px;
    }

    /* Styling the 2nd card to row-reverse */
    .proj_spot .proj_card.card2 a {
        flex-direction: row-reverse;
    }

    /* Width setting for card img */
    .proj_spot .proj_card picture {
        width: 50%;
        height:auto;
    }

    /* Align text card at the center of the text-wrap */
    .proj_spot .proj_card .projcardtitle {
        justify-content: center;
        margin:0 auto;
        width:40%;
    }

    /* Adjusting font-size for tablet screen */

    /* For portfolio categories heading */
    .main_cat.proj_card.projcardtitle h3{
        font-size: 3rem;
    }

    .proj_spot .proj_card .projcardtitle h3 {
        font-size: 2.5rem;
    }

    .proj_spot .proj_card .projcardtitle p {
        font-size: 1.5rem;
    }

    .proj_spot .proj_card picture img{
        margin-bottom: 0;
    }

}

@media screen and (min-width:960px) {

    /****BANNER******/
    .banner {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banner.about {
        flex-direction: row-reverse;
        padding-bottom: 1rem;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner .text-wrap {
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
    }

    /* Width for home banner */
    .banner .home.text-wrap{
        width:49%;
    }

    .banner .home.text-wrap p{
        padding-top:0; 
        font-size:1.25rem;
        line-height:1.7rem;
    }

    .banner .text-wrap h1 {
        text-align: left;
    }

    .banner .socials {
        flex-flow: row wrap;
        text-align: center;
        width: 300px;
        gap: 1rem;
    }

    .banner .socials a {
        line-height: 2rem;
    }

    .display-6 {
        font-size: 2rem;
    }

    /* CONTCT BUTTON */
    .btn-primary {
        width: 20%;
    }
}

/* Set the card section display in a row */
@media screen and (min-width:1024px){
    
    /* Set the equal height of cards*/
    
    .proj_spot .card_wrap{
        display: flex;
        flex-direction: row;
    }
    
}