/* Styling for project pages */


:root{

    --bs-primary:#3e69b2;
    --bs-primary-rgb: 62, 105, 178;
    --bs-secondary: #1a3a70;
    --bs-secondary-rgb: 26, 58, 112;
}

/* Main container */
.project_body {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

.img_container {
    width: 100%;
    margin: 0 auto;
}

/* To add padding on all image container except with code snippets */
.img_container:not(.snip){
    padding: 1.2rem;
}

/* Adding gaps between heading body and picture */
.project_body .content h2{
    padding-top: 1rem;
}

/* Set the image full width inside container */
.img_container img {
    width: 100%;
}

a {
    color: #333;
}

/* Styles for button links */
.button_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

/* To set lignment for main content */
.content{
    display: flex;
    flex-direction: column;
}

.button_links a {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.button_links a:hover {
    background-color: #333;
    color: #fff;
}

.button_links i {
    margin-right: 0.5rem;
}

/* Alignment for main heading */
h1 {
    text-align: center;
}

/* Setting max-width for images - photography category */
.photography img {
    width: 100%;
}

/* Styling the project paragraph */
p {
    text-align:left;
    line-height: 2rem;
}

/* styling photo cards for photography page */
picture img{
    margin-bottom:1rem;
    border-radius: 10px;
}

/* Styling the code snippet */
code {
    white-space: pre-wrap;
    border-radius: 20px;
}

/* To set the YouTube/Vimeo embed to responsive frame */
.embed-responsive-item,
.v1meofra{
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* Styling "back to top" button */
#btn-back-to-top {
    position: fixed;
    bottom: 65px;
    right: 20px;
  }

  .btn-danger {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color:var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color:var(--bs-secondary);;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
  }

  /* Styling the code snippet box */
  pre{
    box-shadow: -4px 0px 35px -3px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 10px;
  }

@media screen and (min-width: 600px) {

    .button_links {
        flex-direction: row;
    }
}

@media screen and (min-width: 1000px) {

    /* Width and alignment setting for the image container */
    .img_container {
        width: 80%;
        padding: 2rem 1rem 2rem;
    }
}