/******NEUTRO - HEADING FONT*****/
@import url('https://fonts.cdnfonts.com/css/neutro'); 

/*********ARCHIVO - BODY FONT********/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for heading */
h1{
    font-family: 'Neutro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #333;
}

.main_category h2{
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
}

h3, h4, h5, h6{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
}

/* style for nav a */
li a{
    font-family: 'Archivo', sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

/* Style for body paragraph */
p,
q {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 0.5rem;
    color: #333;
}

a{
    font-family: 'Archivo', sans-serif;
}

q{
    font-style: italic;
}

/* Footer */

/* Footer link */
footer a{
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}

/* Footer style */
footer{
    display: flex;
}

footer p{
    text-align: left;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.attribution{
    flex-grow: 1;
}

.socmed{
    display: flex;
    gap: 1rem;
}

/* LOve HAte */

.socmed a:hover{
    color: #3E69B2;
    transition: all 0.2s ease-in-out;           
}

@media screen and (min-width:768px) {
    /* Adds heading size for larger screens */
    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.3rem;
    }
    
    footer p{
        font-size: 1.15rem;
    }
}