/******NEUTRO - HEADING FONT*****/
@import url('https://fonts.cdnfonts.com/css/neutro'); 

/*********ARCHIVO - BODY FONT********/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap')

/* Use this when selecting any body paragraph property */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 62 to 125

.archivo-<uniquifier> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */